<template>

<div class="row">
    <div class="rower">
      <GranjaWidget v-if="granja" :granja="granja" />

    </div>
    <div class="c-1">
     <TemperaturaElemento v-if="granja" :granja="granja" />
     <HumedadElemento v-if="granja" :granja="granja" />

    </div>
  </div>

  <!-- <div class="card">
    <h1>informacion de la granja ira aca</h1>
        <h3>{{ id }}</h3>

  </div> -->
</template>

<script>
import GranjaWidget from "@/components/Widgets/GranjaWidget.vue";
import TemperaturaElemento from "@/components/Elementos/TemperaturaElemento.vue";
import HumedadElemento from "@/components/Elementos/HumedadElemento.vue";

// Api
import granjaApi from "@/api/Consultar/granjaApi";
import { useRouter } from "vue-router";
import { onMounted, ref } from "vue";

export default {
  name: "DetailGranja",
  props: ["id"],
  components: {
GranjaWidget,
TemperaturaElemento,
HumedadElemento
  },
  setup(props) {
    // console.log(props)
    const router = useRouter();
    const status = ref("");


    const granja = ref("");
    

     // //   Obtiene acceso al API
    const { getGranja, resultGranja, errorGranja } =
      granjaApi();
      onMounted(async () => {
      try {
        // Obtiene la granja del backend
        await getGranja(props.id);
        // Guarda los datos de la granja
        granja.value = resultGranja.value;
        // Verifica si hubo un error en la obtener la granja
      } catch (error) {
        // console.log(error);
         
          if (errorGranja.value.request.status == "404") {
            status.value = errorGranja.value.request.status;
            router.push({
              name: "NotFound",
              params: { catchAll: status.value },
            });
          }

      else if (errorGranja.value.request.status == "500") {
            router.push({ path: `/500` });
          }
          else{
        console.log(errorGranja.value);

          }
      }
 
    });
    return{
      granja,
      errorGranja,
    }
  }
};
</script>

<style lang="scss" scoped>
.row {
  display: flex;
  margin-top: 10px;
}
.rower {
  flex: 30%;
  padding-right: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.c-1 {
  flex: 70%;
  display: grid;
  justify-items: start;

}

.c-1 div:nth-child(2) {
  margin-top: 20px;
}
.c-1 div:nth-child(3) {
  margin-top: 20px;
}

.row-2 div:nth-child(1) {
  flex: 1;
  margin-right: 15px;
}
.row-2 div:nth-child(2) {
  flex: 1;
}
</style>
