<template>

<div class="row">
    <div class="rower">
      <!-- <CanalWidget v-if="canal" :canal="canal" /> -->
      <CanalWidget v-if="canal" :canal="canal" />

    </div>
    <div class="c-1">
     
    </div>
  </div>

  
</template>

<script>
import CanalWidget from "@/components/Widgets/CanalWidget.vue";

// Api
import canalApi from "@/api/Consultar/canalApi";
import { useRouter } from "vue-router";
import { onMounted, ref } from "vue";

export default {
  name: "DetailCanal",
  props: ["id"],
  components: {
CanalWidget,

  },
  setup(props) {
    const router = useRouter();
    const status = ref("");


        const canal = ref("");
     // //   Obtiene acceso al API
    const { getCanal, resultCanal, errorCanal } =
      canalApi();
onMounted(async () => {
      try {
        // Obtiene la granja del backend
        await getCanal(props.id);
        // Guarda los datos de la Canal
        canal.value = resultCanal.value;
        // Verifica si hubo un error en la obtener la Canal
      } catch (error) {
        // console.log(error);
         
          if (errorCanal.value.request.status == "404") {
            status.value = errorCanal.value.request.status;
            router.push({
              name: "NotFound",
              params: { catchAll: status.value },
            });
          }

      else if (errorCanal.value.request.status == "500") {
            router.push({ path: `/500` });
          }
          else{
        console.log(errorCanal.value);

          }
      }
 
    });
    return{
      canal,
      errorCanal,
    }
   
    return{
     
    }
  }
};
</script>

<style lang="scss" scoped>
.row {
  display: flex;
  margin-top: 10px;
}
.rower {
  flex: 30%;
  padding-right: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.c-1 {
  flex: 70%;
  display: grid;
  justify-items: start;

}

.c-1 div:nth-child(2) {
  margin-top: 20px;
}
.c-1 div:nth-child(3) {
  margin-top: 20px;
}

.row-2 div:nth-child(1) {
  flex: 1;
  margin-right: 15px;
}
.row-2 div:nth-child(2) {
  flex: 1;
}
</style>
