<template>
  <div class="card-solicitud">
    <div class="tipo-solicitud">
      <span><i class="far fa-file-alt"></i></span>
      <div>
        <h3>{{ tipo.nombre }}</h3>
        <span v-if="solicitud.fecha">{{ formatDate(solicitud.fecha) }}</span>
      </div>
    </div>
    <div class="descripcion-solicitud">
      <h3>Solicitud</h3>
      <span>{{ solicitud.observaciones }}</span>
    </div>
   
    <div v-if="solicitud.atendida" class="respuesta-solicitud">
      <div class="encabezado-respuesta">
        <h3>Respuesta</h3>
        <span v-if="solicitud.respuesta">{{
          formatDates(solicitud.respuesta.fecha)
        }}</span>
      </div>
      
      
      <div class="inf-respuesta">
        <span > Su jurado asignado es {{ jurado1.nombres}}{{" "}} {{ jurado1.apellidos}} y {{ jurado2.nombres}}{{" "}} {{ jurado2.apellidos}}   </span>
    
         <span >{{  observacionesRespuesta }}</span> 

      </div>
    </div>
     <div v-else class="respuesta-solicitud">
      <div class="encabezado-respuesta">
        <h3>Sin respuesta</h3>
      </div>
      <span>Aun no le han dado respuesta a esta solicitud</span>
    </div>
    <div class="solicitante-solicitud">
        <div class="encabezado-solicitante">
            <h3>Solicitante</h3>
        </div>
        <div class="inf-solicitante">
<img
        class="avatar-grande"
        src="@/assets/avatars/1.jpg"
        alt="solicitante"
      />
      

      <div v-if="solicitud.solicitante" class="fullname">
        <h3>{{ solicitud.solicitante.nombres }}</h3>

        <h3>{{ solicitud.solicitante.apellidos }}</h3>
      </div>
        </div>
      
    </div>
    <div class="estado-solicitud">
      <h3 v-if="solicitud.atendida" class="respondida">RESPONDIDA</h3>
      <h3 v-else class="pendiente">PENDIENTE</h3>
    </div>
  </div>
</template>

<script>
import { onMounted, ref } from "vue";


import solicitudApi from "@/api/Solicitudes/Consultar/solicitudApi";

export default {
  name: "ConsultarSolicitudJuradoPRE",
  methods: {
    formatDate(toDateString) {
      // Obtiene la gfecha y la hora
      const partes = toDateString.split("T");

      // Obtiene el año, mes y dia
      const fecha = partes[0].split("-");

      // Se especifica como se quiere dar el formato a la fecha
      const date = new Date(fecha);
      return new Intl.DateTimeFormat("default", { dateStyle: "full" }).format(
        date
      );
    },
    formatDates(toDateString) {
      // Obtiene la gfecha y la hora
      const partes = toDateString.split("T");
      // Obtiene el año, mes y dia
      const fecha = partes[0].split("-");
      const meses = [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre",
      ];
      // Obtiene el mes
      const mes = meses[parseInt(fecha[1]) - 1];
      return `${mes} ${fecha[2]}, ${fecha[0]}`;
    },
  },
  props: ["id"],
  setup(props) {

    //  api
    const { getSolicitud, resultSolicitud, errorSolicitud } = solicitudApi();
    const solicitud = ref([]);
    const tipo = ref("");
    const observacionesRespuesta = ref("");
    const jurado1 = ref("");
    const jurado2 = ref("");
    const solicitante = ref("");


    onMounted(async () => {
      try {
        // Petición de información de la lista solicitudes
        await getSolicitud(props.id);

        // Asigna la info para mostrar en la página
        solicitud.value = resultSolicitud.value.data;
        tipo.value = solicitud.value.tipoSolicitud;
        aprobada.value = solicitud.value.respuesta.contenido.aprobada;
        jurado1.value = solicitud.value.respuesta.contenido.jurado1;
     jurado2.value = solicitud.value.respuesta.contenido.jurado2;
        solicitante.value=solicitud.value.solicitante;
        observacionesRespuesta.value= solicitud.value.respuesta.contenido.observaciones;
        // console.log(solicitud);

      } catch (error) {
        console.log(error);
        console.log(errorSolicitud.value);
      }
    });

    return {
      solicitud,
      tipo,
      jurado1,
      jurado2,
      solicitante,
observacionesRespuesta
    };
  },
};
</script>

<style lang="scss" scoped>
.encabezado__solicitudes {
  display: flex;
  justify-content: space-between;
}
.card-solicitud {
  background: white;
  margin: 20px 20px;
  padding: 20px;
  border: 1px solid var(--gris-claro);
  border-radius: 5px;
  box-shadow: 0px 3px 3px var(--gris-claro);
  display: flex;
  .tipo-solicitud {
    flex: 2;
    display: flex;
    padding-top: 10px;

    span {
      color: rgb(117, 117, 117);
      font-weight: 300;
      font-size: 180%;
      padding-right: 10px;
    }
    div {
      h3 {
        font-weight: 600;
      }
      span {
        color: rgb(117, 117, 117);
        font-weight: 300;
        font-size: 100%;
      }
    }
  }
  .descripcion-solicitud {
    flex: 2;
    border-left: 1px solid #cdcdcd;
    padding: 10px;
    h3 {
      font-weight: 600;
    }
  }
  .respuesta-solicitud {
    flex: 2;
    border-left: 1px solid #cdcdcd;
    padding: 10px;

    .encabezado-respuesta {
      display: flex;
      border-bottom: 1px solid #cdcdcd;
      justify-content: space-between;

      h3 {
        font-weight: 600;
      }
      span {
        color: rgb(117, 117, 117);
        font-weight: 300;
        font-size: 100%;
      }
    }
    .inf-respuesta{
        display: flex;
        flex-direction: column;
        text-align: justify;
  
    }
     .estado-respuesta {
      flex: 0.5;
      display: flex;
padding-top: 10px;
      .aprobada {
        background: #82e09a;
        text-align: center;
        padding: 4px 10px;
        border-radius: 5px;
        font-weight: lighter;
        color: white;
        height: 20px;
        font-size: 70%;
      }
      .denegada {
        background: #eda284;
        text-align: center;
        padding: 4px 10px;
        border-radius: 5px;
        font-weight: lighter;
        color: white;

        height: 20px;
        font-size: 70%;
      }
    }
  }
  .solicitante-solicitud {
    flex: 1.5;
    border-left: 1px solid #cdcdcd;
    padding: 10px;
    display: flex;
    flex-direction: column;
    .encabezado-solicitante{
border-bottom: 1px solid #cdcdcd;
    }
    .inf-solicitante{
        display: flex;
      flex-direction: row;
      padding-top: 5px;
img {
      width: 40px;
      height: 40px;
    }
    .fullname {
      display: flex;
      flex-direction: row;

      h3 {
        flex: 1;
        padding: 5px;
        font-weight: 600;
        padding-bottom: 2px;
        
      }
    }
    }
    
  }
  .estado-solicitud {
    flex: 0.5;
    display: flex;

    .respondida {
      background: #82e09a;
      text-align: center;
      padding: 4px 10px;
      border-radius: 5px;
      font-weight: lighter;
      color: white;
      height: 20px;
      font-size: 70%;
    }
    .pendiente {
      background: #eda284;
      text-align: center;
      padding: 4px 10px;
      border-radius: 5px;
      font-weight: lighter;
      color: white;

      height: 20px;
      font-size: 70%;
    }
   

    .icono {
      flex: 3;
      color: rgb(202, 186, 202);
      justify-content: flex-end;
      display: flex;
      .router-link {
        i {
          padding-left: 5px;
          size: 9px;
        }
      }
    }
  }
}
</style>
