<template>
  <div class="splash">
      <div class="splash__bienvenida">
        <div class="splash__titulo">
        <img src="@/assets/logopequeño.jpg" alt="tugranja" />
         <h2>Tu Granja</h2>
        </div>
        <h1>
          Bienvenido al Sistema para llevar la gestión de Granjas Urbanas y canales de distribución
          
        </h1>
      </div>
    
    </div>

</template>

<script>




export default {
  name: "Dashboard",
   
  
};
</script>

<style lang="scss" scope>
.splash__bienvenida{
  
  h2{
    color: rgb(17, 86, 150);
  }
}
.splash {
  display: flex;
  justify-content: center;
 padding: 200px 0px;
}

</style>
