<template>
  <div class="encabezado__canales">
    <input type="text" placeholder="Buscar..." />
    <button  @click="mostrarModal" class="boton">
      Crear canal
    </button>
  </div>
  <div class="row-canal" v-for="canal of listaCanales" :key="canal._id">
    <div class="canal-widget">
      <div class="canal-widget__datos__icono">
        <i class="fas fa-dolly"></i>
      </div>

      <div class="canal-widget__datos__h3">
        <h3>{{ canal.name }}</h3>
      </div>
      
    </div>

    <div class="row-canal__datos-derecha">
      <router-link :to="{ name: 'Canal', params: { id: canal.id } }">
          <i class="fas fa-search" title="Ver canal"></i>
        </router-link>
    </div>
  </div>
  <CrearCanalModal
    v-if="mostrarModalCrearCanal"
    @aceptar="aceptar"
    @cancelar="cancelar"
  />
</template>

<script>
import { onMounted, ref, watch } from "vue";
// Elementos
//api
import canalesApi from "@/api/Listas/canalesApi";

import { useStore } from "vuex";
// Modals
import CrearCanalModal from "@/components/Modals/CrearCanalModal.vue";




export default {
 name:"ListaCanales",
 components: {
    CrearCanalModal,
  },
  setup() {
    const store = useStore();
    const mostrarModalCrearCanal = ref(false);

// modal
    const aceptar = () => {
      console.log("Evento 'aceptar' recibido por la página 'Canales'...");
      mostrarModalCrearCanal.value = false;
    };

    const cancelar = () => {
      console.log("Evento 'cancelar' recibido por la página 'Canales'...");
      mostrarModalCrearCanal.value = false;
    };

    const mostrarModal = () => {
      mostrarModalCrearCanal.value = true;
    };

    //api
    const { getCanales, resultCanales, errorCanales } = canalesApi();
    const listaCanales = ref([]);

    onMounted(async () => {
      
      try {
        // Petición de información de la lista Canales
        await getCanales();
        
        // Asigna la info para mostrar en la página
        listaCanales.value = resultCanales.value.data;

      } catch (error) {
        console.log(error);
        console.log(errorCanales.value);
      }
    });
    

    return {

      listaCanales,
       mostrarModalCrearCanal,
      aceptar,
      cancelar,
      mostrarModal,
    };
  },
};
</script>

<style lang="scss" scoped>
.row-canal {
  background: #fff;
  border: 1px solid var(--gris-claro);
  border-radius: 5px;
  box-shadow: 0px 3px 3px var(--gris-claro);
  padding: 8px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  &:hover {
    background: var(--gris-clarisimo);
    a {
      color: var(--color-texto);
    }
  }
  a {
    margin-right: 15px;
    color: var(--gris-oscuro);
    font-size: 1.1em;
  }
  &__datos-derecha {
    display: flex;
    align-items: center;
  }
  &__estado {
    padding: 20px;
  }

  &__ver {
    padding-left: 20px;
  }
}

.encabezado__canales {
  display: flex;
  justify-content: space-between;
}
.canal-widget {
  display: flex;
  align-items: center;
}

.canal-widget__datos {
  &__h3 {
    color: var(--color-texto);
    font-weight: 600;
    padding: 10px 0px;
    width: auto;
  }
  &__icono {
    padding: 0px 10px;
    font-size: 25px;
  }
}
</style>
