<template>
  <div class="encabezado__ciclos">
    <input type="text" placeholder="Buscar..." />
    <button  @click="mostrarModal" class="boton">
      Crear granja
    </button>
  </div>
  <div class="row-ciclo" v-for="granja of listaGranjas" :key="granja._id">
    <div class="ciclo-widget">
      <div class="ciclo-widget__datos__icono">
        <i class="fas fa-tractor"></i>
      </div>

      <div class="ciclo-widget__datos__h3">
        <h3>{{ granja.name }}</h3>
      </div>
      
    </div>

    <div class="row-ciclo__datos-derecha">
      <router-link :to="{ name: 'Granja', params: { id: granja.id } }">
          <i class="fas fa-search" title="Ver granja"></i>
        </router-link>
    </div>
  </div>
  <CrearGranjaModal
    v-if="mostrarModalCrearGranja"
    @aceptar="aceptar"
    @cancelar="cancelar"
  />
</template>

<script>
import { onMounted, ref } from "vue";
// Elementos
//api
import granjasApi from "@/api/Listas/granjasApi";
// Modals
import CrearGranjaModal from "@/components/Modals/CrearGranjaModal.vue";

import { useStore } from "vuex";

export default {
 name:"ListaGranjas",
 components: {
    CrearGranjaModal,
  },
  setup() {
    const store = useStore();
    const mostrarModalCrearGranja = ref(false);
// modal
    const aceptar = () => {
      console.log("Evento 'aceptar' recibido por la página 'mostrarModalCrearGranjas'...");
      mostrarModalCrearGranja.value = false;
    };

    const cancelar = () => {
      console.log("Evento 'cancelar' recibido por la página 'mostrarModalCrearGranjas'...");
      mostrarModalCrearGranja.value = false;
    };

    const mostrarModal = () => {
      mostrarModalCrearGranja.value = true;
    };
    //api
    const { getGranjas, resultGranjas, errorGranjas } = granjasApi();
    const listaGranjas = ref([]);

    onMounted(async () => {
      
      try {
        // Petición de información de la lista Granjas
        await getGranjas();
        
        // Asigna la info para mostrar en la página
        listaGranjas.value = resultGranjas.value.data;

      } catch (error) {
        console.log(error);
        console.log(errorGranjas.value);
      }
    });
    

    return {

      listaGranjas,
      mostrarModalCrearGranja,
      aceptar,
      cancelar,
      mostrarModal,
    };
  },
};
</script>

<style lang="scss" scoped>
.row-ciclo {
  background: #fff;
  border: 1px solid var(--gris-claro);
  border-radius: 5px;
  box-shadow: 0px 3px 3px var(--gris-claro);
  padding: 8px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  &:hover {
    background: var(--gris-clarisimo);
    a {
      color: var(--color-texto);
    }
  }
  a {
    margin-right: 15px;
    color: var(--gris-oscuro);
    font-size: 1.1em;
  }
  &__datos-derecha {
    display: flex;
    align-items: center;
  }
  &__estado {
    padding: 20px;
  }

  &__ver {
    padding-left: 20px;
  }
}

.encabezado__ciclos {
  display: flex;
  justify-content: space-between;
}
.ciclo-widget {
  display: flex;
  align-items: center;
}

.ciclo-widget__datos {
  &__h3 {
    color: var(--color-texto);
    font-weight: 600;
    padding: 10px 0px;
    width: auto;
  }
  &__icono {
    padding: 0px 10px;
    font-size: 25px;
  }
}
</style>
