<template>
  <transition name="fade">
    <div class="modal-overlay" @click="emitCancelar" v-if="mostrarModal"></div>
  </transition>
  <transition name="slide">
    <div class="modal" v-if="mostrarModal" style="max-width: 640px">
      <h1>Crear granja</h1>
      <form class="form-crear-granja" @submit.prevent="onSubmit">
        <div class="form-crear-granja__campos">
          <div>
            <fieldset>
              <label>Nombre de la Granja *</label>
              <input type="text" v-model="name" tabindex="1" />
              <span class="error-message">{{ errors.name }}</span>
            </fieldset>
            <span>Cultivos de la Granja</span>
            <fieldset>
              <div class="check">
                <input
                  type="checkbox"
                  id="checkbox"
                  value="Oregano"
                  v-model="crops"
                  tabindex="5"
                />
                <label>Oregano</label>
              </div>
            </fieldset>
            <fieldset>
              <div class="check">
                <input
                  type="checkbox"
                  id="checkbox"
                  value="Lechugas"
                  v-model="crops"
                  tabindex="5"
                />
                <label> Lechugas</label>
              </div>
            </fieldset>
            <fieldset>
              <div class="check">
                <input
                  type="checkbox"
                  id="checkbox"
                  value="Yucas"
                  v-model="crops"
                  tabindex="5"
                />
                <label> Yucas </label>
              </div>
            </fieldset>
            <fieldset>
              <div class="check">
                <input
                  type="checkbox"
                  id="checkbox"
                  value="Papas"
                  v-model="crops"
                  tabindex="5"
                />
                <label> Papas</label>
              </div>
            </fieldset>
          </div>
          <div>
            <fieldset>
              <label>Nombre del propietario *</label>
              <input type="text" v-model="owner" tabindex="2" />
              <span class="error-message">{{ errors.owner }}</span>
            </fieldset>
            <label > .</label>
            <fieldset>
              <div class="check">
                <input
                  type="checkbox"
                  id="checkbox"
                  value="Manzana"
                  v-model="crops"
                  tabindex="5"
                />
                <label> Manzana</label>
              </div>
            </fieldset>
            <fieldset>
              <div class="check">
                <input
                  type="checkbox"
                  id="checkbox"
                  value="Mango"
                  v-model="crops"
                  tabindex="5"
                />
                <label> Mango</label>
              </div>
            </fieldset>
            <fieldset>
              <div class="check">
                <input
                  type="checkbox"
                  id="checkbox"
                  value="Papaya"
                  v-model="crops"
                  tabindex="5"
                />
                <label> Papaya</label>
              </div>
            </fieldset>
          </div>
        </div>
        
        <div class="modal__actions">
          <button @click.prevent="emitCancelar">Cancelar</button>
          <button>Crear Granja</button>
        </div>
      </form>
    </div>
  </transition>
</template>

<script>
import { useStore } from "vuex";
import { onMounted, ref } from "vue";
import { useForm, useField } from "vee-validate";
import { object, string, setLocale } from "yup";
import crearGranjaApi from "@/api/Crear/crearGranjaApi";

export default {
  name: "CreargranjaModal",
  emits: ["aceptar", "cancelar"],
  setup(_, { emit }) {
    const store = useStore();
    const mostrarModal = ref(false);
    const crops = ref([]);


    // Referencia al API para crear granja
    const { crearGranja, resultCrearGranja, errorCrearGranja  } = crearGranjaApi();

    // Define los mensajes de validación
    setLocale({
      mixed: {
        required: "Campo requerido",
      },
      
    });

    // Define el esquema de validación
    const esquemaValidacion = object({
      name: string().required(),
      owner: string().required(),
    });

    // Crea un contexto de formulario con el esquema de validación
    const { handleSubmit, errors } = useForm({
      validationSchema: esquemaValidacion,
    });

    // Se crean los campos del formulario
    const { value: name } = useField("name");
    const { value: owner } = useField("owner");
    

    // Al montar el componente se cambia el valor para
    // mostrar el contenido y pueda ejecutar la animación
    onMounted(() => {
      mostrarModal.value = true;
    });

    // Cierra el modal emitiendo un evento a la página padre
    const salir = (evento) => {
      mostrarModal.value = false;
      // Espera hasta que se ejecute la animación de salida
      setTimeout(function () {
        // Emite el evento "aceptar" a la página padre
        emit(evento);
      }, 600);
    };

    const emitCancelar = () => {
      // Cierra el modal
      salir("cancelar");
    };

    const onSubmit = handleSubmit(async (_) => {
     

      try {
        // Crea el granja en backend
        await crearGranja(
          name.value,
          owner.value,
          crops.value,
        );
        // Verifica si hubo un error en la creación de la granja
        if (errorCrearGranja.value) {
          console.log(errorCrearGranja.value);
        }

        

        // Cierra el modal
        salir("aceptar");
      } catch (errorCrearGranja) {
        console.log(errorCrearGranja.value);
      }
    });

    return {
      // Eventos del modal
      mostrarModal,
      emitCancelar,
      onSubmit,
      // Errores
      errors,
      errorCrearGranja,
      
      // Datos del formulario
      name,
      owner,
      crops
    };
  },
};
</script>

<style lang="scss" scoped>
.form-crear-granja {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.form-crear-granja__campos {
  display: flex;
  gap: 20px;
  
}
.form-crear-granja__campos > div {
  flex: 1;
}
</style>
