<template>
  <ListaCanales />
</template>

<script>
// Elementos
import ListaCanales from "@/components/Listas/ListaCanales.vue";

import { useStore } from "vuex";

export default {
  name: "Canales",
  components: {
    ListaCanales,
  },
  setup() {
    const store = useStore();

    // Cambia los valores globales de la página
    store.commit("setPaginaActiva", "CANALES");

  },
};
</script>
<style scoped>

</style>
