<template>
  <ListaGranjas />
</template>

<script>
// Elementos
import ListaGranjas from "@/components/Listas/ListaGranjas.vue";

import { useStore } from "vuex";

export default {
  name: "Granjas",
  components: {
    ListaGranjas,
  },
  setup() {
    const store = useStore();

    // Cambia los valores globales de la página
   
    store.commit("setPaginaActiva", "GRANJAS");

  },
};
</script>
<style scoped>

</style>
