<template>
 
  <div class="humedad-widget">
      <h2>
        La humedad de la granja es 
      </h2>
    <div class="humedad-widget__datos">
      <ul v-for="h in humedad.slice(0, 1)" :key="h">
        <li>
            {{ formatDate(h.fecha) }}
        </li>
        <li>
          {{ h.humedad }}
        </li>
      </ul>
    </div>
    <div class="humedad-widget__datos" v-if="humedad == 0">
           <h3>No tiene datos</h3>
    </div>
  </div>
</template>

<script>
import { ref, onMounted } from "vue";

// Api
import temperaturaApi from "@/api/IOT/temperaturaApi";


export default {
  name: "HumedadElemento",
  props: ["granja"],
  methods: {
     formatDate(toDateString) {
      // Obtiene la gfecha y la hora
      const partes = toDateString.split("T");

      // Obtiene el año, mes y dia
      const fecha = partes[0].split("-");

      // Se especifica como se quiere dar el formato a la fecha
      const date = new Date(fecha);
      return new Intl.DateTimeFormat("default", { dateStyle: "full" }).format(
        date
      );
    },
  },
setup(props) {
      const idGranja = (props.granja.id);

    const humedad = ref("");
    // //   Obtiene acceso al API
    const { getTemperatura, resultTemperatura, errorTemperatura } =
      temperaturaApi();
    onMounted(async () => {
      try {
        // Obtiene la humedad del backend
        await getTemperatura(idGranja, 4000);
        // Guarda los datos de la humedad
        humedad.value = resultTemperatura.value;
        // console.log(temperatura.value);
        // Verifica si hubo un error en la obtener la humedad
      } catch (error) {
        // console.log(error);

        console.log(errorTemperatura.value);
      }
    });
    return {
      humedad,
      errorTemperatura,
    };
  },
};
</script>

<style scoped>
.humedad-widget {
  display: flex;
  background: white;
  padding: 10px 50px;
}
.humedad-widget h2 {
 font-weight:bolder;
   font-size: 8;
   color: var(--color-texto);
}


.humedad-widget__datos  {
    align-items: center;

  
}
.humedad-widget__datos ul {
  padding-top: 50px;
}
.humedad-widget__datos h3 {
  padding-top: 70px;
  font-weight: 400;
  font-size: 0.8em;
  color: var(--color-texto);
}
</style>
