<template>
  <div class="temperatura-widget">
    <h2>La temperatura de la granja es</h2>
    <div class="temperatura-widget__datos" >
      <ul v-for="t in temperatura.slice(0, 1)" :key="t">
        <li>
            {{ formatDate(t.fecha) }}
        </li>
        <li>
          {{ t.temperatura }}
        </li>
      </ul>
    </div>
    <div class="temperatura-widget__datos" v-if="temperatura == 0">
      <h3>No tiene datos</h3>
    </div>
  </div>
</template>

<script>
import { ref, onMounted } from "vue";

// Api
import temperaturaApi from "@/api/IOT/temperaturaApi";

export default {
  name: "TemperaturaElemento",
  props: ["granja"],
   methods: {
     formatDate(toDateString) {
      // Obtiene la gfecha y la hora
      const partes = toDateString.split("T");

      // Obtiene el año, mes y dia
      const fecha = partes[0].split("-");

      // Se especifica como se quiere dar el formato a la fecha
      const date = new Date(fecha);
      return new Intl.DateTimeFormat("default", { dateStyle: "full" }).format(
        date
      );
    },
  },
  setup(props) {
    // console.log(props)
    const idGranja = (props.granja.id);
    // console.log(idGranja)
    const temperatura = ref("");
    // //   Obtiene acceso al API
    const { getTemperatura, resultTemperatura, errorTemperatura } =
      temperaturaApi();
    onMounted(async () => {
      try {
        // Obtiene la Temperatura del backend
        await getTemperatura(idGranja, 4000);
        // Guarda los datos de la Temperatura
        temperatura.value = resultTemperatura.value;
        console.log(temperatura.value);
        // Verifica si hubo un error en la obtener la Temperatura
      } catch (error) {
        // console.log(error);

        console.log(errorTemperatura.value);
      }
    });
    return {
      temperatura,
      errorTemperatura,
    };
  },
};
</script>

<style scoped>
.temperatura-widget {
  display: flex;
  background: white;
  padding: 10px 50px;
}
.temperatura-widget h2 {
  font-weight: bolder;
  font-size: 8;
  color: var(--color-texto);
}

.temperatura-widget__datos {
  padding-top: 50px;
}
.temperatura-widget__datos ul {
  padding-top: 50px;
}
.temperatura-widget__datos h3 {
  font-weight: 400;
  font-size: 0.8em;
  color: var(--color-texto);
}
</style>
