<template>
  <Form @submit="handleSubmit">
    <div class="encabezado">
      <h1>Solicitud de jurado pregrado</h1>
    </div>
    <div class="row">
      <div class="rower">
        <EstudianteInfoWidget v-if="solicitud" :estudiante="emisor" />
      </div>
      <div class="c-1">
        <div class="solicitud">
          <div class="card-info-solicitud">
            <div class="observaciones">
              <h3>Observaciones</h3>
              <span>{{ solicitud.observaciones }} </span>
            </div>
            <div class="fecha">
              <h3>Fecha</h3>
              <span v-if="solicitud">{{ formatDate(solicitud.fecha) }}</span>
            </div>
            <div class="respuesta">
              <h1>Respuesta</h1>
            </div>
            <div class="body">
              <div class="jurados">
                <fieldset>
                  <label> Jurado 1 *</label>
                  <Field
                    name="jurado"
                    as="select"
                    v-model="idJurado1"
                    tabindex="2"
                  >
                    <option disabled>Selecione el jurado</option>

                    <option
                      v-for="jurado of listaJurado"
                      :key="jurado._id"
                      :value="jurado._id"
                    >
                      {{ jurado.nombres }}{{ " " }}{{ jurado.apellidos }}
                    </option>
                  </Field>
                </fieldset>

                <fieldset v-if="agregar">
                  <label> Jurado 2 *</label>
                  <Field
                    name="jurado"
                    as="select"
                    v-model="idJurado2"
                    tabindex="2"
                  >
                    <option disabled>Selecione el jurado</option>

                    <option
                      v-for="jurado of listaJurado"
                      :key="jurado._id"
                      :value="jurado._id"
                    >
                      {{ jurado.nombres }}{{ " " }}{{ jurado.apellidos }}
                    </option>
                  </Field>
                </fieldset>
                <fieldset v-else>
                  <div class="check">
                    <input type="checkbox" id="checkbox" v-model="agregar" />

                    <span> Agregar jurado</span>
                  </div>
                </fieldset>
              </div>
              <div class="observaciones-respuesta">
                <label tabindex="3">Observaciones</label>
                <textarea
                  type="text"
                  v-model="observaciones"
                  tabindex="2"
                ></textarea>
              </div>
              <div class="responder">
                <button>Responder</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Form>
</template>

<script>
import EstudianteInfoWidget from "@/components/Widgets/EstudianteInfoWidget.vue";

import { useStore } from "vuex";
import { useRouter } from "vue-router";
import { onMounted, ref } from "vue";
import { Form, Field } from "vee-validate";

//Api
import respoderSolicitudJuradoPREApi from "@/api/Solicitudes/Responder/respoderSolicitudJuradoPREApi";

import profesoresApi from "@/api/Listas/profesoresApi";
import solicitudApi from "@/api/Solicitudes/Consultar/solicitudApi";
import estudianteApi from "@/api/Consultar/estudianteApi";

export default {
  name: "ResponderSolicitudJuradoPRE",
  components: {
    EstudianteInfoWidget,
    Field,
    Form,
  },
  //id de la reunion, id de la solicitud
  props: ["idReunion", "id"],
  methods: {
    formatDate(toDateString) {
      // Obtiene la gfecha y la hora
      const partes = toDateString.split("T");

      // Obtiene el año, mes y dia
      const fecha = partes[0].split("-");

      // Se especifica como se quiere dar el formato a la fecha
      const date = new Date(fecha);
      return new Intl.DateTimeFormat("default", { dateStyle: "full" }).format(
        date
      );
    },
  },
  setup(props) {
    // Obtiene la referencia al Store
    const store = useStore();
    const router = useRouter();
    //api
    //api lista de juradoes
    const { getProfesores, resultProfesores, errorProfesores } =
      profesoresApi();
    const listaJurado = ref([]);
    //api solicitud
    const { getSolicitud, resultSolicitud, errorSolicitud } = solicitudApi();
    const solicitud = ref("");
    const emisor = ref("");
    //api Estudiante
    const { getEstudiante, resultEstudiante, errorEstudiante } =
      estudianteApi();
    const estudiante = ref("");
    //api responder la solicitud de jurado de pre
    const {
      responderSolicitudJuradoPRE,
      resultResponderSolicitudJuradoPRE,
      errorResponderSolicitudJuradoPRE,
    } = respoderSolicitudJuradoPREApi();
    // informacion del formulario
    const idJurado1 = ref("");
    const idJurado2 = ref("");
    const observaciones = ref("");
    const agregar = ref(false);

    // obtener informacion
    //informacion de profesores
    onMounted(async () => {
      try {
        // Petición de información de las lista de Profesores
        await getProfesores();
        // Asigna la info para mostrar en la página
        listaJurado.value = resultProfesores.value.data;
      } catch (error) {
        console.log(error);
        console.log(errorProfesores.value);
      }
    });
    //informacion de Solicitud
    onMounted(async () => {
      try {
        // Petición de información de las lista de Solicitud
        await getSolicitud(props.id);
        // Asigna la info para mostrar en la página
        solicitud.value = resultSolicitud.value.data;
        emisor.value = solicitud.value.solicitante;
      } catch (error) {
        console.log(error);
        console.log(errorSolicitud.value);
      }
    });

    // Click en el botón de Responder
    //Respuesta de la solicitud de jurado de pregrado
    const handleSubmit = async (_) => {
      console.log(props.id),
      console.log(props.idReunion),
      console.log(idJurado1.value);
      console.log(idJurado2.value);

      console.log(observaciones.value);
      try {
        console.log("Enviando los valores al backend...");
        await responderSolicitudJuradoPRE(
          props.id,
          props.idReunion,
          idJurado1.value,
          idJurado2.value,
          observaciones.value
        );
        // Verifica si hubo un error en la creación de la solicitud
        if (errorResponderSolicitudJuradoPRE.value) {
          console.log(errorResponderSolicitudJuradoPRE.value);
        }

        // Redirect to Dashboard
        router.push({ name: "Dashboard" });
      } catch (error) {
        console.log(error);
        console.log(errorResponderSolicitudJuradoPRE.value);
      }
    };
    return {
      //datos de los profesores
      listaJurado,
      //datos de la solicitud
      solicitud,
      emisor,
      //datos del estudiante
      estudiante,
      //datos del formulario
      agregar,
      idJurado1,
      idJurado2,
      observaciones,
      // al hacer click para responder
      handleSubmit,
    };
  },
};
</script>

<style lang="scss" scoped>
.row {
  display: flex;
  margin-top: 10px;
}
.rower {
  flex: 30%;
  padding-right: 20px;
  margin-left: 10px;
  margin-right: 10px;
  h1 {
    padding-bottom: 21.5px;
  }
}

.c-1 {
  flex: 70%;
  display: grid;
  justify-items: start;
  .encabezado {
    h1 {
      color: var(--color-texto);
    }
  }
  .solicitud {
    width: 1000px;
    // max-width: 1080px;

    .card-info-solicitud {
      flex: 1;
      background: #ffffff;
      padding: 20px;
      margin-top: 60px;
      border: 1px solid var(--gris-claro);
      border-radius: 5px;
      box-shadow: 0px 3px 3px var(--gris-claro);
      display: flex;
      flex-direction: column;
      h3 {
        flex: 1;
      }
      span {
        flex: 1;
      }

      .observaciones {
        max-width: 900px;
      }
      .respuesta {
        border-bottom: 1px solid #cdcdcd;
        padding-top: 20px;
      }
      .body {
        padding-top: 20px;
        padding-left: 20px;

        fieldset {
          border: none;
          display: flex;
          flex-direction: column;
          max-height: 500;
        }
        .jurados {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;

          .check {
            display: flex;
            flex-direction: row;
            padding: 40px;

            span {
              padding-left: 10px;
            }
          }
        }

        label {
          color: rgb(82, 80, 80);
          font-weight: normal;
          padding: 10px;
          //   size: 50px;
        }
        .observaciones-respuesta {
          display: flex;
          flex-direction: column;
        }
        .responder {
          padding-top: 10px;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}

.c-1 div:nth-child(2) {
  margin-top: 20px;
}
.c-1 div:nth-child(3) {
  margin-top: 20px;
}

.row-2 div:nth-child(1) {
  flex: 1;
  margin-right: 15px;
}
.row-2 div:nth-child(2) {
  flex: 1;
}
</style>
