<template>
  <div class="canal-widget">
    <div class="canal-widget__datos">
      <h1>
        {{canal.name}}
      </h1>
             <h2>El tipo de canal es</h2>

      <h3>
        {{canal.type}}
      </h3>
       <h2>Los productos que distribuye son:</h2>


      <ul>
        
  <li v-for="crop in canal.crops" :key="crop">
    {{ crop }}
  </li>
</ul>
    </div>
  </div>
</template>

<script>

export default {
  name: "CanalWidget",
    props: ["canal"],


};
</script>

<style scoped>
.canal-widget {
  display: flex;
  align-items: center;
  background: white;
  padding: 50px 10px;
}
.canal-widget__datos h1 {
 
  color:rgb(19, 221, 120);
  display: flex;
  justify-content: center;
  padding-bottom:10px;
  
}

.canal-widget__datos h2 {
  font-weight:bolder;
   font-size: 8;
  color: var(--color-texto);
}
.canal-widget__datos h3 {
  font-weight: 400;
   font-size: 8;
  color:rgb(19, 221, 120);
  padding-bottom: 10px;
}
.canal-widget__datos ul {
  padding-top: 10px;
padding-left: 20px;}
</style>
