<template>
  <div class="granja-widget">
    <div class="granja-widget__datos">
      <h1>
        {{granja.name}}
      </h1>
      
      <h2>El nombre del dueño es:</h2>
      <h3>
         {{granja.owner}}
      </h3>
            <h2>Sus productos son:</h2>

      <ul>
        
  <li v-for="crop in granja.crops" :key="crop">
    {{ crop }}
  </li>
</ul>

    </div>
  </div>
</template>

<script>

export default {
  name: "GranjaWidget",

  props: ["granja"],

};
</script>

<style scoped>
.granja-widget {
  display: flex;
  align-items: center;
  background: white;
  padding: 50px 10px;
}
.granja-widget__datos h1 {
 
  color:rgb(19, 221, 120);
  display: flex;
  justify-content: center
  
}

.granja-widget__datos h2 {
  font-weight:bolder;
   font-size: 8;
  color: var(--color-texto);
  padding-top: 20px;
}
.granja-widget__datos h3 {
  font-weight: 400;
   font-size: 8;
  color:rgb(19, 221, 120);
}
.granja-widget__datos ul {
padding-left: 20px;}
</style>
