<template>

<DashboardUsuario />
   
</template>

<script>
import DashboardUsuario from "@/components/Dashboards/DashboardUsuario.vue";
import { useStore } from "vuex";


export default {
  name: "Dashboard",
  components: {
    DashboardUsuario,
  },
  setup(){
        const store = useStore();

        // Cambia los valores globales de la página
    
    store.commit("setPaginaActiva", "DASHBOARD");

  }
  
};
</script>

<style scoped>

</style>

