<template>
  <FormCrearGranja />
</template>

<script>
import FormCrearGranja from "@/Components/Forms/FormCrearGranja.vue";

export default {
  name: "CrearGranja",
  components: {
    FormCrearGranja,
  },
  setup(){
    return {
      FormCrearGranja,
    };
  }
};
</script>
