<template>
  <ErrorServidorComponent  />

</template>

<script>
import ErrorServidorComponent from "@/components/Errores/ErrorServidorComponent.vue";
import { useRoute } from "vue-router";

export default {
 name: "ErrorServidor",
  components: {
    ErrorServidorComponent,
  }
}
</script>

<style>

</style>