<template>
  <NotAuthorizedComponent  />
</template>

<script>
import NotAuthorizedComponent from "@/components/Errores/NotAuthorizedComponent.vue";

export default {
 name: "NotAuthorized",
  components: {
    NotAuthorizedComponent,
  },
}
</script>

<style>

</style>