<template>
  <NotFoundComponent />

</template>

<script>
import NotFoundComponent from "@/components/Errores/NotFoundComponent.vue";

export default {
 name: "NotFound",
  components: {
    NotFoundComponent,
  },
 
}
</script>

<style>

</style>