<template>
  <div class="error-container">
    <div class="error-code">
      <span>5</span>
      <span>0</span>
      <span>0</span>
    </div>
    <div class="error-title">ERROR</div>
    <div class="error">Parece que tienes un error con el servidor</div>

    <div>
      <router-link :to="{ name: 'Dashboard' }"> 
        <button><i class="fas fa-graduation-cap"></i> Inicio</button>
      </router-link>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";

export default {
  name: "ErrorServidorComponent",
  props: ["mensaje"],
 
};


</script>

<style lang="scss">
.error-container {
  background-image: linear-gradient(to bottom right, #07ff8b, #15c5f1);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  button {
    border: #35b689;
    background: white;
    color: #35b689;
    box-shadow: 8px 8px 5px #35b689;
  }
}

.error-code {
  display: flex;
  span {
    font-weight: bold;
    display: block;
    font-size: 150px;
    color: white;
    text-shadow: 8px 8px 5px #35b689;
  }
}

.error-title {
  font-weight: bold;
  display: block;
  font-size: 80px;
  color: white;
  text-shadow: 8px 8px 5px #35b689;
}

.error {
  padding: 1.5vmin 30vmin;
  font-weight: lighter;
  display: block;
  font-size: 30px;
  color: white;
}
</style>
