<template>
  <DetailGranja :id="id" />
</template>

<script>
import { useRoute } from "vue-router";
import DetailGranja from "@/Components/Details/DetailGranja.vue";

export default {
  name: "ConsultarGranja",
  components: {
    DetailGranja,
  },
  setup() {
    // Obtiene la ruta
    const ruta = useRoute();

    // Obtiene el id del Granja
    const id = ruta.params.id;

    return {
      DetailGranja,
      id,
    };
  },
};
</script>
