<template>
  <DetailCanal :id="id" />
</template>

<script>
import { useRoute } from "vue-router";
import DetailCanal from "@/Components/Details/DetailCanal.vue";

export default {
  name: "ConsultarCanal",
  components: {
    DetailCanal,
  },
  setup() {
    // Obtiene la ruta
    const ruta = useRoute();

    // Obtiene el id del Canal
    const id = ruta.params.id;

    return {
      DetailCanal,
      id,
    };
  },
};
</script>
