<template>
  <div class="toolbar">
    <router-link
      :to="{ name: 'Dashboard' }"
      class="toolbar__boton"
      :class="{
        activo: paginaActiva === 'DASHBOARD',
      }"
    >
      <i class="fas fa-home"></i>
      <span>inicio</span>
    </router-link>

    <router-link
      :to="{ name: 'Granjas' }"
      class="toolbar__boton"
      :class="{
        activo: paginaActiva === 'GRANJAS',
      }"
    >
      <i class="fas fa-tractor"></i> <span>Granjas</span>
    </router-link>

    <router-link
      :to="{ name: 'Canales' }"
      class="toolbar__boton"
      :class="{
        activo: paginaActiva === 'CANALES',
      }"
    >
      <i class="fas fa-dolly"></i>

      <span>Canales</span>
    </router-link>

    <div class="toolbar__boton">
      <i class="fas fa-sitemap"></i>
      <span>Tipos</span>
    </div>

    <div>
      <Logout />
    </div>
  </div>
</template>

<script>
import { ref, watch } from "vue";
import { useStore } from "vuex";
import Logout from "@/components/Header/Logout.vue";



export default {
  components: { Logout },
  name: "Toolbar",
  components: {
    Logout,
  },
  setup() {
    const store = useStore();
    const paginaActiva = ref("");
    

    // Observa los cambios en el store para actualizar el titulo del header
    watch(
      () => store.state.paginaActiva,
      (nuevaPaginaActiva, paginaActivaAnterior) => {
        paginaActiva.value = nuevaPaginaActiva;
      }
    );

    return {
      paginaActiva,
    };
  },
};
</script>

<style lang="scss" scoped>
.toolbar {
  display: flex;
  align-items: center;
}
.toolbar__boton {
  color: var(--gris-oscuro);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
}
.toolbar__boton {
  text-decoration: none;
  span {
    text-transform: uppercase;
    font-size: 0.7em;
    margin-top: 3px;
  }
  &.activo,
  &:hover {
    color: var(--color-principal);
    border: 1px solid var(--gris-claro);
    border-radius: 4px;
    box-shadow: 0px 2px 3px var(--gris-claro);
  }
}
</style>
