<template>
  <component :is="this.$route.meta.layout || 'div'">
    <router-view />
    <div id="modal-area"></div>
  </component>
</template>

<script>
import axios from "axios";
import { useStore } from "vuex";
import { watch } from "vue";

export default {
  name: "App",
  setup() {
    const store = useStore();

    // Carga el estado
    store.dispatch("loadState");

    // Carga la URL del backend y la asigna a axios
    axios.defaults.baseURL = import.meta.env.VITE_BACKEND_BASE_URL;

    // Establece el token de autenticación en el encabezado de axios
    axios.defaults.headers.common[
      "Authorization"
    ] = `Bearer ${store.state.token}`;

    // Cada vez que cambie el token del usuario autenticado,
    // se debe cambia el token de las peticiones de axios al backend
    watch(
      () => store.state.token,
      (tokenActual, tokenAnterior) => {
        // Actualiza el token parámetro de axios
        axios.defaults.headers.common[
          "Authorization"
        ] = `Bearer ${tokenActual}`;
      }
    );
  },
};
</script>

<style lang="scss">
/* Inicializa el CSS de la aplicación */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$mi-color: magenta;
:root {
  /* colores principales */
  --color-principal: #35b689;
  --color-oscuro: #30a77d;
  /* inputs */
  --borde-input: #dcdcdc;
  --borde-input-focus: #c4c4c4;
  --main-background: #f0f0f0;
     /* textares */
    --borde-textarea: #dcdcdc;
  --borde-textarea-focus: #c4c4c4;
  --main-background: #f0f0f0;

  /* texto y grises */
  --color-texto: #2c3550;
  --gris-oscuro: #b2b5c3;
  --gris-medio: #cdcfd7;
  --gris-claro: #eaeaea;
  --gris-clarisimo: #f7f6f6;
  /* fuente */
  --fuente: "Montserrat", sans-serif;
  /* estados de solicitud */
  --color-solicitud-atendida: #82e09a;
  --color-solicitud-por-atender: #f88b81;
  /* Validación */
  --color-error: #b90f0f;
}
#app {
  font-family: var(--fuente);
}
a.link {
  color: var(--color-principal);
  text-decoration: none;
  font-weight: 300;
}
/* Formularios */
label {
  font-weight: lighter;
  margin-bottom: 3px;
}
fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  height: 75px;
}
textarea[type="text"],
input[type="text"],
input[type="date"],
input[type="datetime-local"],
input[type="password"],
input[type="number"],
input[type="username"],
select {
  border: 1px solid var(--borde-input);
  font-family: var(--fuente);
  font-size: 1.1em;
  font-weight: 200;
  padding: 3px 10px;
  border-radius: 4px;
}

textarea[type="text"]:focus,
input[type="text"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="username"]:focus,
select:focus {
  outline: 1px solid var(--color-principal);
  border: 1px solid rgba(0, 0, 0, 0);
}
button {
  background: var(--color-principal);
  border: 1px solid var(--color-principal);
  color: #fff;
  font-family: var(--fuente);
  font-size: 1em;
  font-weight: 200;
  padding: 8px 25px;
  border-radius: 4px;
  cursor: pointer;
  /* Animación para el hover */
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
button:hover {
  background: var(--color-oscuro);
}
.divisor-vertical {
  width: 1px;
  height: 60px;
  background: #cbcbcb;
}
.divisor-horizontal {
  margin: 2px 0px;
  width: flex;
  height:1px;
  background: #cbcbcb;
}
/* Card */
.card {
  background: #fff;
  padding: 20px;
  border: 1px solid var(--gris-claro);
  border-radius: 5px;
  box-shadow: 0px 3px 3px var(--gris-claro);
}
h2.card__titulo {
  color: var(--color-texto);
  font-weight: 600;
}
/* Avatar */
.avatar-grande {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.avatar-pequeno {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.avatar-peque {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  
 margin-top: 8px;
    margin-left: 8px;
}
/* Widgets */
.widget h3 {
  color: var(--color-texto);
  font-weight: 600;
}
.widget__titulo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
/* Badges */
.badge {
  color: #fff;
  font-size: 0.7em;
  font-weight: 300;
  padding: 1px 6px;
  border-radius: 4px;
  text-transform: uppercase;
}
/* Modals */
/* Fondo */
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
  background: rgba(0, 0, 0, 0.5);
}
/* Animación del fondo */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
/* Modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;

  width: 100%;
  /* Se usa max-width si hay un ancho fijo */
  /* max-width: 400px; */
  background: #fff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.modal h1 {
  font-size: 1.3em;
  color: var(--color-texto);
  font-weight: 500;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--gris-medio);
}
.modal__actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 10px;
  margin-top: 10px;
}
.modal__actions button:first-child {
  color: var(--color-principal);
  background: #fff;
}
/* Animación del modal */
.slide-enter-active,
.slide-leave-active {
  transition: transform 1s;
}
.slide-enter-from,
.slide-leave-to {
  transform: translateY(-100vh) translateX(-50%);
}
/* ---- Fin de modals ---- */

/* Validación */
.error-message {
  display: block;
  color: var(--color-error);
  text-align: left;
  font-style: italic;
  font-size: 14px;
  font-weight: 300;
}
</style>
