<template>
  <div class="auth__container">
    <div class="splash">
      <div class="splash__bienvenida">
        <div class="splash__titulo">
        <img src="@/assets/logopequeño.jpg" alt="tugranja" />
         
        </div>
        <h3>
          Bienvenido al Sistema de control de granjas
          
        </h3>
      </div>
      
    </div>
    <div class="formulario">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: "AuthLayout",
};
</script>

<style lang="scss" scope>
.auth__container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.splash {
  background: #f8f8f8;
  border-right: 1px solid #dfdfdf;
  display: flex;
  &__bienvenida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    p {
      text-align: right;
      font-weight: lighter;
    }
  }
  &__titulo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 15px;
    color: var(--color-principal);
    h2 {
      text-align: center;
      font-size: 1.8em;
    }
    i {
      font-size: 2.9em;
      margin-right: 8px;
    }
  }
  &__imagen {
    display: grid;
    place-items: center;
    padding: 0px 50px;
  }
  h3{
    color: #0845a1;
  }
}
</style>
