<template>
  <FormLogin />
</template>

<script>
import FormLogin from "@/components/Forms/FormLogin.vue";

export default {
  name: "Login",
  components: {
    FormLogin,
  },
};
</script>
