<template></template>

<script>
import { onMounted } from "vue";
import { useRouter } from "vue-router";
import { useStore } from "vuex";

export default {
  name: "Logout",
  setup() {
    const router = useRouter();
    const store = useStore();
    onMounted(() => {
      // Elimina la información del usuario autenticado
      store.dispatch("resetUser");
      // Redirecciona al Login
      router.push({ name: "Login" });
    });
  },
};
</script>
