<template>
  <div class="enunciado">
    <h3>Datos de la solicitud</h3>

    <div class="enunciado_datos-derecha">
      <button class="boton">Enviar</button>
    </div>
  </div>
  <div class="form-crear-solicitud__campos">
    <fieldset>
      <label>Empresa</label>
      <input type="text" v-model="empresa" tabindex="1" />
    </fieldset>
    <fieldset>
      <label>Fecha esperada de entrega</label>
      <input type="date" v-model="fecha" tabindex="2" />
    </fieldset>
  </div>
</template>

<script>
export default {
  name: "CrearSolicitudCartasPresentación",
};
</script>

<style lang="scss" scoped>
.caja {
  align-items: center;
  padding: 10px 400px;
}

.form-crear-solicitud {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  h3 {
    color: rgb(0, 0, 0);
    padding: 10px 0px;
  }
}
.form-crear-solicitud__campos {
  background: white;
  padding: 10px 10px;
  border-radius: 10px;
  display: flex;
  fieldset {
    padding: 10px 10px;
    flex: 1;
  }

  label {
    color: rgb(82, 80, 80);
    font-weight: normal;
  }
}

.enunciado {
  margin: 8px;
  display: flex;
  justify-content: space-between;

  &__datos-derecha {
    display: flex;
    align-items: center;
  }
}
</style>
