<template>
  <div class="enunciado">
    <h3>Datos de la solicitud</h3>

    <div class="enunciado_datos-derecha">
      <button class="boton">Enviar</button>
    </div>
  </div>
  <div class="form-crear-solicitud__campos">
    <fieldset>
      <label>Justificación del cambio</label>
      <textarea type="text" v-model="Justificacion" tabindex="1"></textarea>
    </fieldset>
    <fieldset>
      <label>Nueva opción de grado</label>
      <Field name="opcionGrado" as="select" v-model="opcionGrado" tabindex="2">
        <option disabled>Selecione una opción</option>

        <option
          v-for="opcion of listaOpcionesGrado"
          :key="opcion._id"
          :value="opcion.codigo"
        >
          {{ opcion.nombre }}
        </option>
      </Field>
      <!-- <span class="error-message">{{ errors.opcionGrado }}</span> -->
    </fieldset>
    <div class="tutoryfecha">
      <fieldset>
        <label> Nuevo tutor propuesto (opcional)</label>
        <Field name="tutor" as="select" v-model="tutor" tabindex="3">
          <option disabled>Selecione el tutor</option>

          <option
            v-for="tutor of listaTutor"
            :key="tutor._id"
            :value="tutor.codigo"
          >
            {{ tutor.nombres }}{{ " " }}{{ tutor.apellidos }}
          </option>
        </Field>
      </fieldset>
      <fieldset>
        <label>Nueva fecha esperada de entrega</label>
        <input type="date" v-model="fecha" tabindex="2" />
      </fieldset>
    </div>
  </div>
</template>

<script>
import { onMounted, ref } from "vue";
import { useForm, useField, Field } from "vee-validate";
//api
import opcionesGradoApi from "@/api/Listas/opcionesGradoApi";
import profesoresApi from "@/api/Listas/profesoresApi";

export default {
  name: "CrearSolicitudCambioOpGrado",
  components: { Field },

  setup() {
    //
    const { getOpcionesGrado, resultOpcionesGrado, errorOpcionesGrado } =
      opcionesGradoApi();
    const { getProfesores, resultProfesores, errorProfesores } =
      profesoresApi();
    //
    const listaOpcionesGrado = ref([]);
    const listaTutor = ref([]);

    onMounted(async () => {
      try {
        // Petición de información de la lista Opciones Grado
        await getOpcionesGrado();
        // if (error) {
        //   console.log(error);
        // }
        // Asigna la info para mostrar en la página
        listaOpcionesGrado.value = resultOpcionesGrado.value.data;
      } catch (error) {
        console.log(error);
        console.log(errorOpcionesGrado.value);
      }
    });
    onMounted(async () => {
      try {
        // Petición de información de las lista de Profesores
        await getProfesores();
        // if (errorProfesores.value===null) {
        //   console.log(errorProfesores);
        // }
        // Asigna la info para mostrar en la página
        listaTutor.value = resultProfesores.value.data;
      } catch (error) {
        console.log(error);
        console.log(errorProfesores.value);
      }
    });
    return {
      listaOpcionesGrado,
      listaTutor,
    };
  },
};
</script>

<style lang="scss" scoped>
.caja {
  // background: white;
  align-items: center;
  padding: 10px 400px;
}

.form-crear-solicitud {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  h3 {
    color: rgb(0, 0, 0);
    padding: 10px 0px;
  }
}
.form-crear-solicitud__campos {
  background: white;
  padding: 10px 10px;
  border-radius: 10px;

  label {
    color: rgb(82, 80, 80);
    font-weight: normal;
    padding: 10px;
  }
  textarea {
    max-width: 856.67px;
    display: grid;
    min-height: 70px;
  }
  fieldset {
    margin-bottom: 40px;
  }
}
.tutoryfecha {
  display: flex;
  fieldset {
    padding-right: 30px;
    flex: 1;
  }
}

.enunciado {
  margin: 8px;
  display: flex;
  justify-content: space-between;

  &__datos-derecha {
    display: flex;
    align-items: center;
  }
}
</style>
