<template>
<div class="enunciado">
        <h3>Datos de la solicitud</h3>

        <div class="enunciado_datos-derecha">
          <button class="boton">Enviar</button>
        </div>
      </div>
  <h1>hola yo soy Solicitud Prorroga
</h1>
</template>

<script>
export default {
    name:"CrearSolicitudProrroga"

}
</script>

<style lang="scss" scoped>
.enunciado {
  margin: 8px;
  display: flex;
  justify-content: space-between;

  &__datos-derecha {
    display: flex;
    align-items: center;
  }
}
</style>