<template>
  <div class="enunciado">
    <h3>Datos de la solicitud</h3>

    <div class="enunciado_datos-derecha">
      <button class="boton">Enviar</button>
    </div>
  </div>
  <div class="form-crear-solicitud__campos">
    <fieldset>
      <label>Estudiante</label>
      <Field name="estudiante" as="select" v-model="estudiante" tabindex="1">
        <option disabled>Selecione el estudiante</option>

        <option
          v-for="estudiante of listaEstudiantes"
          :key="estudiante._id"
          :value="estudiante.codigo"
        >
          {{ estudiante.nombres }}{{ " " }}{{ estudiante.apellidos }}
        </option>
      </Field>
      <!-- <span class="error-message">{{ errors.estudiante }}</span> -->
    </fieldset>
    <fieldset>
      <label>Solicitud</label>
      <textarea type="text" v-model="solicitud" tabindex="1"></textarea>
    </fieldset>
  </div>
</template>

<script>
import { useForm, useField, Field } from "vee-validate";
//api
import estudiantesApi from "@/api/Listas/estudiantesApi";

export default {
  name: "CrearSolicitudReintegro",
  components: { Field },
  setup() {
    // Api
    const { getEstudiantes, resultEstudiantes, errorEstudiantes } =
      estudiantesApi();
    const listaEstudiantes = ref([]);
    onMounted(async () => {
      try {
        // Petición de información de la listaEstudiantes
        await getEstudiantes();
        // if (errorEstudiantes) {
        //   console.log(errorEstudiantes);
        // }
        // Asigna la info para mostrar en la página
        listaEstudiantes.value = resultEstudiantes.value.data;
        // console.log(estados.comentario);
        // for (const e of listaEstudiantes.value) {
        //   console.log(e);
        // }
      } catch (error) {
        console.log(error);
        console.log(errorEstudiantes.value);
      }
    });
    return {
      listaEstudiantes,
    };
  },
};
</script>

<style lang="scss" scoped>
.caja {
  // background: white;
  align-items: center;
  padding: 10px 400px;
}

.form-crear-solicitud {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  h3 {
    color: rgb(0, 0, 0);
    padding: 10px 0px;
  }
}
.form-crear-solicitud__campos {
  background: white;
  padding: 10px 10px;
  border-radius: 10px;
  height: 250px;

  label {
    color: rgb(82, 80, 80);
    font-weight: normal;
    padding: 10px;
    //   size: 50px;
  }
  textarea {
    max-width: 836px;
    display: grid;
    min-height: 150px;
  }
}

.enunciado {
  margin: 8px;
  display: flex;
  justify-content: space-between;

  &__datos-derecha {
    display: flex;
    align-items: center;
  }
}
</style>
