<template>
  <Form @submit="handleSubmit">
    <div class="enunciado">
      <h3>Datos de la solicitud</h3>

      <div class="enunciado_datos-derecha">
        <button class="boton">Enviar</button>
      </div>
    </div>

    <div class="form-crear-solicitud__campos">
      <div>
        <fieldset>
          <label>Observaciones</label>
          <textarea type="text" v-model="observaciones" tabindex="1"></textarea>
        </fieldset>
      </div>
    </div>
  </Form>
</template>

<script>
import { Form } from "vee-validate";
import { useRouter } from "vue-router";
import { ref } from "vue";
//Api
import crearSolicitudJuradoPREApi from "@/api/Solicitudes/Crear/crearSolicitudJuradoPREApi";

export default {
  name: "CrearSolicitudJuradoPRE",
  props: ["id"],
  components: {
    Form,
  },
  setup(props) {
    const router = useRouter();

    //Api
    const {
      crearSolicitudJuradoPRE,
      resultCrearSolicitudJuradoPRE,
      errorCrearSolicitudJuradoPRE,
    } = crearSolicitudJuradoPREApi();
    // informacion del formulario
    const observaciones = ref("");

    // Click en el botón de crear
    //Creacion de la solicitud
    const handleSubmit = async (_) => {
      try {
        console.log("Enviando los valores al backend...");
        await crearSolicitudJuradoPRE(observaciones.value);
        // Verifica si hubo un error en la creación de la solicitud
        if (errorCrearSolicitudJuradoPRE.value) {
          console.log(errorCrearSolicitudJuradoPRE.value);
        }

        // Redirect to Dashboard
        router.push({ name: "Dashboard" });
      } catch (error) {
        console.log(error);
        console.log(errorCrearSolicitudJuradoPRE.value);
      }
    };

    return {
      // al hacer click para la creacion
      handleSubmit,
      // datos del formulario
      observaciones,
    };
  },
};
</script>

<style lang="scss" scoped>
.caja {
  // background: white;
  align-items: center;
  padding: 10px 400px;
}

.form-crear-solicitud {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  h3 {
    color: rgb(0, 0, 0);
    padding: 10px 0px;
  }
}
.form-crear-solicitud__campos {
  background: white;
  padding: 10px 10px;
  border-radius: 10px;
  height: 250px;

  label {
    color: rgb(82, 80, 80);
    font-weight: normal;
    padding: 10px;
    //   size: 50px;
  }
}
.form-crear-solicitud__campos > div {
  padding: 10px 10px;
  flex: 1;
}
.form-crear-solicitud__campos textarea {
  max-width: 836px;
  display: grid;
  min-height: 150px;
}

.enunciado {
  margin: 8px;
  display: flex;
  justify-content: space-between;

  &__datos-derecha {
    display: flex;
    align-items: center;
  }
}
</style>
