<template>
  <div class="container-login">
    <div class="logo">
        <img src="@/assets/logopequeño.jpg" alt="tugranja" />
    </div>
    <h1>Ingresar</h1>
    <Form @submit="handleSubmit" class="form__login">
      <fieldset>
        <label>Nombre de usuario</label>
        <Field
          name="username"
          type="username"
          v-model="username"
          tabindex="1"
        />
      </fieldset>
      <fieldset>
        <label>Contraseña</label>
        <Field
          name="password"
          type="password"
          v-model="password"
          :rules="validatePassword"
          tabindex="2"
        />
        <ErrorMessage name="password" class="error-message" />
      </fieldset>
      <div class="error-message" v-if="error">
        {{ error }}
      </div>
      <button tabindex="3">Iniciar sesión</button>
      <a href="#" class="link">Olvidé mi contraseña</a>
    </Form>
  </div>
</template>

<script>
import { ref } from "vue";
import { useRouter } from "vue-router";
import { Form, Field, ErrorMessage } from "vee-validate";

import { useStore } from "vuex";
import loginApi from "@/api/loginApi";

export default {
  name: "FormLogin",
  components: {
    Form,
    Field,
    ErrorMessage,
  },
  setup() {
    const username = ref("");
    const password = ref("");
    const router = useRouter();
    const store = useStore();

    // Obtiene acceso a los elementos del API
    const { login, result, error } = loginApi();

   

    // Función que valida el campo 'password'
    const validatePassword = (value) => {
      // Valida que el valor sea digitado
      if (!value) {
        return "Este valor es obligatorio";
      }
      return true;
    };

    // Click en el botón de iniciar sesion
    const handleSubmit = async () => {
    //   console.log(username),
    // console.log(password)
    // router.push({ name: "Dashboard" });
      try {
        // Envía los datos al servidor para autenticación
        await login(username.value, password.value);
        // Si no hay error, redirecciona al Dashboard
        if (error.value === null) {
          // Almacena el usuario actual
          store.dispatch("setUser", result.value.data.access_token);
          // Redirecciona la dashboard
          router.push({ name: "Dashboard" });
        }
      } catch (error) {
        console.log(error);
        console.log(error.value);
      }
    };

    return {
      username,
      password,
      error,
      validatePassword,
      handleSubmit,
    };
  },
};
</script>

<style lang="scss" scope>
.container-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  h1 {
    text-align: center;
    font-weight: lighter;
    font-size: 1.9em;
    color: var(--color-principal);
    margin-bottom: 20px;
  }
}
.logo {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 50px;
  i {
    font-size: 3em;
    color: var(--color-principal);
  }
}
.form__login {
  margin: 0px 80px;
  button {
    justify-self: center;
    align-self: center;
    width: 100%;
  }
  a {
    .form__login a {
      margin-top: 15px;
      float: right;
    }
  }
}
</style>
